# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# IDEs
.vscode/
.idea/
.vs/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.suo
*.ntvs*
*.njsproj
*.VC.db
*.VC.opendb

# Arquivos gerados
*.dll
*.exe
*.apk
*.log
*.asset
*.idb
*.pdb
*.mdb
*.swp

# Sistema operacional
.DS_Store
Thumbs.db
Desktop.ini

# Unity Packages
/Packages/*
!/Packages/manifest.json
!/Packages/packages-lock.json
!/Packages/com.thinklib.core/
!/Packages/com.thinklib.core/**


# .meta files são essenciais – **não ignore!**

# Permaneça com:
# Assets/ (incluindo *.unity, *.cs, *.meta, etc)
# ProjectSettings/
".vs/" 
